{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<header>
<h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
</header>
{{ partial "podcast.html" . -}}
<div class="content">
{{ .Content }}
</div>
<h2>联系我们</h2>
<ul>
<li>QQ 听友群：<a href="https://jq.qq.com/?_wv=1027&amp;k=9tAXJ8gG">530146104</a></li>
<li>TG 听友群：<a href="https://t.me/emacstalk">https://t.me/emacstalk</a></li>
<li>邮件：<a href="mailto:emacstalk@liujiacai.net">emacstalk@liujiacai.net</a></li>
<li>网站留言：<a href="https://emacstalk.github.io/">https://emacstalk.github.io/</a></li>
</ul>
<h2>为爱发电</h2>
<p>
如果您喜欢我们的节目，欢迎通过<a href="https://afdian.net/@emacstalk">「爱发电」</a>来支持。
</p>

</article>
{{ partial "share-buttons.html" . }}
<hr/>
<script src="https://utteranc.es/client.js"
        repo="emacstalk/emacstalk.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</main>
{{ end }}
