{{ $src := ($.Param "podcast_mp3" | absURL) -}}
{{ if .Site.Params.Podcast.cdn -}}
{{ $src = add $.Site.Params.Podcast.cdn ($.Param "podcast_mp3" | relURL) -}}
{{ end -}}
<figure class="podcast">
<audio controls preload="{{ .Site.Params.Podcast.preload | default "metadata" }}"><source src="{{ $src }}" type="audio/mpeg"></audio>
<figcaption><a href="{{ $src }}">{{ .Title }}</a></figcaption>
</figure>
{{if .Params.podcast_image_src -}}
  {{ $resource := resources.Get .Params.podcast_image_src}}
  {{ $size := "250x" }}
  {{ with .Params.podcast_image_width }}{{ $size = (add . "x") }}
  {{ end }}
  {{ $image := $resource.Resize $size -}}
<figure class="image {{ .Params.podcast_image_class | default "right" }}"><img src="{{ $image.RelPermalink }}" width="{{ .Params.podcast_image_width | default "250" }}" alt="{{ .Params.podcast_image_alt }}" title="{{ .Params.podcast_image_alt }}"></figure>
{{ end -}}
